<h1>Showing Experiment</h1>

<p>
  <strong>Physicist:</strong>
  <%= @experiment.physicist.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<%= link_to 'Back', experiments_path %>